@font-face {
    font-family: 'Trade Winds';
    src: url('/fonts/TradeWinds-Regular.ttf');
}
@font-face {
    font-family: 'Almarai';
    src: url('/fonts/Almarai-Bold.ttf');
    src: url('/fonts/Almarai-ExtraBold.ttf');
    src: url('/fonts/Almarai-Light.ttf');
    src: url('/fonts/Almarai-Regular.ttf');
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Bold.ttf');
    src: url('/fonts/Ubuntu-BoldItalic.ttf');
    src: url('/fonts/Ubuntu-Italic.ttf');
    src: url('/fonts/Ubuntu-Light.ttf');
    src: url('/fonts/Ubuntu-LightItalic.ttf');
    src: url('/fonts/Ubuntu-Medium.ttf');
    src: url('/fonts/Ubuntu-MediumItalic.ttf');
    src: url('/fonts/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: 'Aref Ruqaa';
    src: url('/fonts/ArefRuqaa-Bold.ttf');
    src: url('/fonts/ArefRuqaa-Regular.ttf');
}
@font-face {
    font-family: 'Fondamento';
    src: url('/fonts/Fondamento-Italic.ttf');
    src: url('/fonts/Fondamento-Regular.ttf');
}
@font-face {
    font-family: 'Ceviche One';
    src: url('/fonts/CevicheOne-Regular.ttf');
}
@font-face {
    font-family: 'Katibeh';
    src: url('/fonts/Katibeh-Regular.ttf');
}
@font-face {
    font-family: 'Lalezar';
    src: url('/fonts/Lalezar-Regular.ttf');
}
@font-face {
    font-family: 'Lateef';
    src: url('/fonts/Lateef-Regular.ttf');
}
@font-face {
    font-family: 'Nosifer';
    src: url('/fonts/Nosifer-Regular.ttf');
}
body
{
 background: #f5f5f5;
 font-family: 'Ubuntu','Almarai';
 font-weight: 600;
}
.title-post
{
    font-size: 25px;
    font-family: 'Almarai';
    font-weight: bolder;
    background: white;
    border: 1px solid wheat;
    border-bottom: 0px;
        padding: 15px;
    margin-bottom: 0px;
}

.brdrd
{
    border-radius: 0px;
}
.border-black
{
    border:1px solid black;
}
.bg-black
{
    background:black;
}
.border-red
{
    border:1px solid red;
}
.bg-red
{
    background:red;
}
.border-yellow
{
    border:1px solid yellow;
}
.bg-yellow
{
    background:rgb(255, 68, 93);
}
.btn-outline-success {
    color: rgb(184, 0, 144);
    background-color: transparent;
    background-image: none;
    border-color: rgb(184, 0, 144);
}
.btn-outline-success:hover {
background:rgb(184, 0, 144);
color: white;
}
.boxch
{
   box-shadow: aquamarine ;
   box-sizing: border-box;
}
.hy {
    /* position: absolute; */
    right: 0;
    bottom: -22px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    padding-bottom: 10px;
}
.alert {
    position: fixed;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    bottom: 0px;
    width: 21%;
}
.alert-dismissible .close {
    position: absolute;
    top: 0;
    left: 0;
    padding: .75rem 1.25rem;
    color: inherit;
}
.block1-wrap-icon {
    position: absolute;
    width: 100%;
    bottom: 26px;
    left: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.headdev
{
    font-size: x-large;
    font-family: cursive;
    color: white;
    display: inline-block;
    position: absolute;
    list-style: none;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    transition: opacity 0.8s;
    background-color: white;
}
.card:hover .headdev
{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
@media (min-width: 992px) {
    .contentmain
    {
        display: none !important;
    }
}
.info
{
    line-height: 1;
    padding-left: 5px;
    padding-right: 5px;
}
@media (max-width: 540px) {
    .clocktime
    {
        display: none !important;
    }
}
.card-body >hr:last-child
{
   display: none;
}
.viewer
{
    top: 0;
    position: absolute;
    background: rgba(49, 33, 33, 0.63);
    border-radius: 1em;
}
.titlecard
{
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    color: white;
    padding-top:70px;
    height: 100%;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgba(0, 0, 0, 0.507);
    transition: all 5ms, color 2s;
}
.titlecard:hover
{
    opacity: 1;

}
.titlecard {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.479);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .card:hover .titlecard {
    height: 100%;
  }

   .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.card-img-top
{
    height: 300px;
    filter: drop-shadow(2px 4px 6px black);
}
.card-img-top:hover
{
    filter:brightness(0.4);
}

.text-info-post
{
  font-size: smaller;
  font-family: inherit;

}
.alock
{
    text-decoration: none;
    font-size: small;
    color:black;
}
.alock:hover
{
    text-decoration: none;
    font-size: small;
    color:black;
}
@media (min-width: 1200px){
.container {
    max-width: 1380px;
}
}
  .btn:focus,
  .btn:hover,
  textarea:hover,
  textarea:active,
  textarea:focus,
  button:focus,
  button:active,
  button:hover,
  label:focus,
  .btn:active,
  .btn.active
  {
      outline:0px !important;
      -webkit-appearance:none;
      box-shadow: none !important;
  }
    .img-user-post
    {
     height: 50px;
     width: 50px;
     border-radius: 2em;
    }
    .img-user-comment
    {
     height: 50px;
     width: 50px;
     border-radius: 8px;
    }
    .hour
    {
        font-size: 12px;
        font-family: cursive;
    }
    .right
    {
        float: right;
    }
    .left
    {
        float: left;
    }
    .border-raduis-1
    {
        border-radius: .25rem;
    }
    .border-raduis-0
    {
        border-radius: 0rem;
    }
    .border-raduis-2
    {
        border-radius: .50rem;
    }
    .border-raduis-3
    {
        border-radius: .75rem;
    }
    .border-raduis-4
    {
        border-radius: 1rem;
    }
    .border-raduis-4-left
    {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    .border-raduis-4-right
    {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .card-header:first-child {
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
    }
    .show-poster
    {
      height: 500px;
      width: 100%;
      border:4px solid white;
    }

    .table td
    {
        border: 0px;
    }
    .lh
    {
        line-height: 2.5;
    }

    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
      }

      /* The navigation menu links */
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color:rgb(184, 0, 144) ;
        display: block;
        transition: 0.3s;
        text-align: right;
        margin-right: 23px;
      }

      /* When you mouse over the navigation links, change their color */
      .sidenav a:hover {
        color: #f1f1f1;
      }

      /* Position and style the close button (top right corner) */
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
      #main {
        transition: margin-left .5s;
        padding: 20px;
      }

      /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      .headerweb
      {
          font-family: 'Lalezar';
          color: yellow;
      }
      .pagination {
        display: inline-flex;
      }



  table
  {
    text-align: center;
  }
  .product-status-wrap th,.product-status-wrap td
  {
    text-align: center;
  }


